[2018-11-08 08:21] p-a-s-c-a-l opened #1 "Get node id of parent entity"
Script shall return the id of the parent entity that contains the iFrame node, not the current entity of the iFrame node itself.

[2018-11-19 14:11] p-a-s-c-a-l commented on #1
done. To be used in https://github.com/clarity-h2020/scenario-analysis/issues/2

[2018-11-19 14:11] #1 closed, assigned to fgeyer16

[2019-01-14 13:16] p-a-s-c-a-l opened #2 "DisplaySuite Interference"
Move creation of Drupal Settings for entity info from hook preprocess to hook view since DisplaySuite disables hook preprocess.

[2019-01-14 13:16] p-a-s-c-a-l commented on #2
done

[2019-01-14 13:16] #2 closed, assigned to fgeyer16

[2019-01-18 09:01] p-a-s-c-a-l opened #3 "Report Generation"
Add support for Report Generation following the descriptions in these issues:
- https://github.com/clarity-h2020/docker-drupal/issues/20#issuecomment-446572012
- https://github.com/clarity-h2020/docker-drupal/issues/46

[2019-01-21 11:49] fgeyer16 opened #4 "Studyid missing in drupalSettings csishelpers.entityinfo on Summary view of step"
On the Summary view of a Step the drupalSettings.csishelpers.entityinfo.study variable is null and not the study id.

[2019-01-21 11:53] fgeyer16 commented on #4
All tabs are affected in which another node is embedded (e.g. maps too). Entityinfo is overwritten by this embedded node since they are rendered after the containig step node. This is a side effect of the sollution of #2
So we have to check if we are in the top node or not.

[2019-03-07 11:14] p-a-s-c-a-l opened #5 "Get Node UUID"
CSIS Helper Modules retrieved the id of the node which is fine for Legacy REST API, but for making requests to the JSON:API (e.g. GET '/jsonapi/node/report_image/ff1f3c94-abbd-43bc-90d8-c61e7dad6dac/') we need the UUID.

[2019-03-07 17:57] fgeyer16 commented on #4
Checking if the node is on Top happens now by checking if the view mode of the nodeis one of our view modes used for tabs (introduction,data,table,maps,twins,summary,sc').
Checked if this work by viewing the source of the page and search for 'csisHelpers'.found it on all tabs of all steps.

[2019-03-11 08:47] therter commented on #5
@fgeyer16  I need also the UUID to requesting the study with the new version of the json-API.

[2019-03-11 16:43] fgeyer16 commented on #5
I added the uuid of study and step to the csisHelpers.entityinfo object.
You can get them by  csisHelpers.entityinfo.study_uuid and  csisHelpers.entityinfo.step_uuid

[2019-03-22 09:39] #5 closed, assigned to fgeyer16

[2019-03-25 07:44] patrickkaleta opened #6 "404 Error message for Report image GET request via JSON:API"
I'm trying to add the "include in report button" functionality, but after updating my local csis instance to the newest version of the csis, I'm receiving an error when trying to make a GET-request for a Report image:
_The \"entity\" parameter was not converted for the path \"/jsonapi/node/report_image/{entity}\" (route name: \"jsonapi.node--report_image.individual\")_
The GET-request was working

[2019-03-25 09:08] #4 closed, assigned to fgeyer16

[2019-03-25 12:20] patrickkaleta commented on #6
Error was caused by a missing file, so UUID didn't exist anymore, which lead to this meaningful error message.

[2019-03-25 12:20] #6 closed, assigned to fgeyer16

[2019-04-16 06:54] p-a-s-c-a-l opened #7 "Theme Missing"
Not sure what this error message wants to tell me:

![grafik](https://user-images.githubusercontent.com/1788226/56188222-358cff00-6025-11e9-80f0-342ee30920c6.png)

[2019-04-16 06:56] p-a-s-c-a-l commented on #3
Resolved in https://github.com/clarity-h2020/docker-drupal/issues/46#issuecomment-482537744

[2019-04-16 06:56] #3 closed, assigned to p-a-s-c-a-l, fgeyer16

[2019-04-16 07:31] patrickkaleta commented on #7
This was probably caused by a typo, since it was looking for **cisis**... instead of **csis**...
I fixed that typo. This error message should disappear now

[2019-04-25 10:50] #7 closed, assigned to fgeyer16, patrickkaleta

[2019-05-09 11:23] patrickkaleta opened #8 "Opening Edit-form as modal not working for links created by the module"
The [openEditForm ](https://github.com/clarity-h2020/csis-helpers-module/blob/dev/js/csis_include_in_report.js#L176s)function creates a link just like the ones on the Summary-Tab, which open the edit-forms for Report Images via Ajax as a modal.

However, this doesn't seem to work and the "use-ajax" class in the link gets ignored and a complete page-load is triggered instead. Not a major bug, since

[2019-05-09 18:11] fgeyer16 commented on #8
After creating the link, it is just a link in the html. The popup functionality is added to the use-ajax links by js after loading the document. SInce the document is already loaded, the additional onclick handler is not added to the link.
If drupal does not make an exception from its own recommendations to use behaviors I think this could fix it:
 add
`Drupal.attachBehaviors(link, Drupal.settings

[2019-05-10 11:54] patrickkaleta commented on #8
@fgeyer16 thanks, this fixed the problem. Now it's working as expected :-)

[2019-05-10 11:54] #8 closed, assigned to fgeyer16, patrickkaleta

[2019-07-08 12:15] p-a-s-c-a-l opened #9 "Include In Report Button not working properly"
- The ["Include in Report" Button](https://github.com/clarity-h2020/docker-drupal/issues/46#issuecomment-509161855) does not work for the [Study Area Map]().
- Layers shown on the map are not available in the report image generated with [html2canvas](https://github.com/niklasvh/html2canvas/). This is most likely a problem caused by html2canvas itself and not by the map component or the include in

[2019-07-30 14:10] p-a-s-c-a-l commented on #9
Most likely a CORS problem. See https://github.com/clarity-h2020/emikat/issues/14 and https://github.com/clarity-h2020/data-package/issues/31

[2019-08-02 13:43] therter commented on #9
Current status:
When we use html2canvas version 1.0.0-rc1, set the options useCORS and foreignObjectRendering to true and additional ensure that the page is not scrolled down,  then the Report button will work in Chrome.
But the button does not work in Firefox, because the option foreignObjectRendering is not supported by Firefox and without the option foreignObjectRendering, the overlay layers wi

[2019-08-02 14:38] p-a-s-c-a-l commented on #9
how?

[2019-08-02 16:25] therter commented on #9
we can set the page to the top position by execute
window.scrollTo(0, 0);
After a click on the report button, a popup will open. So the change of the viewport should not disturb the users.

[2019-08-07 10:15] p-a-s-c-a-l opened #10 "Include additional info in $entityinfo"
It would be helpful if we could include some additional properties from study group node in $entityinfo so that we can avoid some API calls in our external components.

ATM we would need
- field_emikat_id
- field_data_package: here just the data package entity uuid from data/id, e.g. `a8ff7930-4a9f-4289-8246-3383ba13c30f`
- field_area: the `value`property of the geofiled entity, e.g. `POLYGON((14.

[2019-08-07 13:10] patrickkaleta commented on #10
$entityinfo now contains the mentioned properties as described above:
- study_emikat_id
- study_datapackage_uuid
- study_area

(If a value has not yet been set for the study, the field contains `null`)

[2019-08-12 16:11] DenoBeno opened #11 "Explain what the module does"
https://github.com/clarity-h2020/csis-helpers-module/blob/dev/README.md is empty...

[2019-08-22 11:10] patrickkaleta commented on #10
As requested [here](https://github.com/clarity-h2020/docker-drupal/issues/68#issuecomment-522939700), $entityinfo now contains a `eea_city_field` entry with the EEA city name (null if no city has been yet selected in the study).

[2019-08-22 11:32] patrickkaleta commented on #11
README has been updated with descriptions of the key funcionalities this module provides for the CSIS.

[2019-08-22 11:32] #11 closed, assigned to fgeyer16, patrickkaleta

[2019-08-22 11:35] patrickkaleta opened #12 "Emikat Trigger specifications"
- [x] include forceRecalculate attribute
Set the boolean forceRecalculate attribute in each PUT request to inform Emikat if the changes made to the study affect the calculations or not.
Swagger Interface with examples: https://service.emikat.at/EmiKatTst/swagger/index.html#!/EmiKat32Scenario32resource/insertScenario
- [x] trigger Emikat only for certain `Study types` (TBD which ones)
- [x] ~~handl

[2019-08-23 06:26] p-a-s-c-a-l opened #13 "Include iFrames in Report"
We need iFrame support in [csis_include_in_report.js](https://github.com/clarity-h2020/csis-helpers-module/blob/dev/js/csis_include_in_report.js).

Not sure if that's going to work. We can try it with the [MCDA App](https://csis.myclimateservice.eu/study/1/step/22/view/scenario-analysis) (which is currently [broken](https://github.com/clarity-h2020/scenario-analysis/issues/15)) until iFrame Suppor

[2019-08-26 08:36] p-a-s-c-a-l commented on #13
Include in report button for iFrames is implemented and can be tested e.g. [here](https://csis.myclimateservice.eu/study/1/step/22/view/scenario-analysis). However, unfortunately html2canvas creates a [blank snapshot](https://csis.myclimateservice.eu/sites/default/files/report-images/2019-08/map-snapshot_4.png) of the iframe.

So instead of the iFrame as a whole, we maybe have to select an element

[2019-08-26 09:44] p-a-s-c-a-l commented on #10
In order to support [this feature](https://github.com/clarity-h2020/data-package/issues/26), we need additional properties in `$entityinfo` which relate to fields in Data Package and Resource node types, e.g. `uuid` and `field_bounding_box` of `data_package`.

I noticed there are two methods in [csis_helpers.module](https://github.com/clarity-h2020/csis-helpers-module/blob/dev/csis_helpers.module)

[2019-08-26 10:32] fgeyer16 commented on #10
They do the same because we need it once done for a node entity and once for a group entity as the source of the data. Since the way how to get the data is different for node and group we have to do it twice in slightly different ways.

As far as I can see the the data package uuid is already included in the entityinfo.

So you could load the  data package by REST API and extract the properties th

[2019-08-26 11:14] p-a-s-c-a-l commented on #10
@fgeyer16 In the views I'm talking about, there is not study (group), so study_datapackage_uuid which is derived from `field_data_package` of the study group type is not available at all. E.g. on this [page](https://csis.myclimateservice.eu/node/795), how do I get the uuid of the datapackage?

[2019-08-26 13:50] fgeyer16 commented on #10
Ah I misunderstood you, sorry. So you want to use the entity info for other than gl-step nodes?
For this  `function csis_helpers_node_entity_info` has to be modified.

First step is to determine which node type we have:  change the current code of the function to

[code]

In the case part fort the data package node type you can then query the fields of the data package by using `$variable = $datap

[2019-08-26 14:17] p-a-s-c-a-l commented on #10
Ok, thanks. I'll give it a try.

No that's not problem. In Data Package Nodes, I'm only interested in the data package uuid, in resource nodes, only the resource uuid.

[2019-08-29 14:50] p-a-s-c-a-l commented on #10
That's a problem. E.g. for this [Data Package](http://roberto:8080/node/795), `$entityInfo`seems the become "polluted" with information from a study the data package is assigned to.  That means, from the information available in `$entityInfo`  I cannot determine whether the page shown is a study, data package or a resource. :-(

[2019-08-30 14:43] p-a-s-c-a-l commented on #10
I've spilt entityinfo in studyInfo, datapackageInfo and resourceInfo in [/feature/010-extend-entityinfo](https://github.com/clarity-h2020/csis-helpers-module/tree/feature/010-extend-entityinfo). entityInfo should no longer be used.

BTW, `spatial_extent' => $entity->get('field_spatial_extent')->value` returns null for datapackage and resource even if a spatial extent is set.

[2019-08-30 16:16] fgeyer16 commented on #10
Splitting is what I wanted to suggest.

The field spatial extend is an entity reference field so we need the entity which is referenced and get the wanted field value from it.

[code]

[2019-09-02 07:56] p-a-s-c-a-l commented on #10
Unfortunately, this doesn't work. studyInfo, datapackageInfo and resourceInfo, etc, always contain all properties of  all entity types. I have the impression, that `$entityinfo;` is defined as global variable.

![grafik](https://user-images.githubusercontent.com/1788226/64098940-62d61180-cd68-11e9-85ae-fec06efec4c8.png)

[code]
This returns `false`even if `field_spatial_extent` is defined. Is ther

[2019-09-02 08:59] p-a-s-c-a-l commented on #10
Now, this statement seems to evaluate to false on the Data Package Node: `/node/682`

[code]

[2019-09-03 05:45] p-a-s-c-a-l commented on #10
[csis_entity_info.js](https://github.com/clarity-h2020/csis-helpers-module/blob/feature/010-extend-entityinfo/js/csis_entity_info.js) needs to be updated, too. What's the purpose of this script? Where is it used?

[2019-09-03 10:21] patrickkaleta commented on #10
I was wondering about that myself. That's a question to @fgeyer16, do we even need this anymore?

@p-a-s-c-a-l :
regarding debugging the content of entites in Drupal I usually use `dump($variable)` (first you have to select the "Symfony var-dumper" option in the **Devel settings** (**.../admin/config/development/devel**) of your local instance).

So for example to check the content of the $spatial

[2019-09-03 14:23] fgeyer16 commented on #10
This was thought to provide helper functions so nobody needs to know where in the drupal settings the entity infos are.If nobody uses this or wants this we can remove this file as well.

Regarding debugging: I use kint($variable). This is function/module provided by the devel module. You need to enable the devel Kint module. @patrickkaleta provides dump also information on available methods for ob

[2019-09-03 14:28] patrickkaleta commented on #10
No it does not. However, I noticed that `kint()` sometimes fails to load an object if it's too big (which sadly is quite often the case for our entities) and then I get just a blank page.

[2019-09-03 14:59] fgeyer16 commented on #10
yes that can happen because if you kint() the "right" variable it will load the page multiple times and then run out of memory especially if somewhere in the variable there is a reference to the(a) (sub)variable which can cause some kind of endless loop I assume.

In` web/modules/contrib/devel/kint/kint/config.default.php` you can change the "kint levels". This is how many levels kint will proceed

[2019-09-03 15:02] fgeyer16 commented on #10
@p-a-s-c-a-l: You wait for me to solve that with the additional infos right? Not that we work on the same thing an may against each other as well ;-)

[2019-09-03 15:57] p-a-s-c-a-l commented on #10
@fgeyer16 No, finally I've managed implemented all changes I need in https://github.com/clarity-h2020/csis-helpers-module/tree/feature/010-extend-entityinfo, now testing with iFrame Map Components. If this work's I'll merge the branch in DEV. So ATM no action from your side needed. Thanks!

[2019-09-06 10:00] p-a-s-c-a-l commented on #10
done

[2019-09-06 10:00] #10 closed, assigned to p-a-s-c-a-l, fgeyer16, patrickkaleta

[2019-09-06 10:13] p-a-s-c-a-l commented on #13
Tried with [this study](https://csis.myclimateservice.eu/study/25/view/data), but got:

`error posting report image`

It would be helpful to log the concrete error in [csis_include_in_report.js#L168](https://github.com/clarity-h2020/csis-helpers-module/blob/dev/js/csis_include_in_report.js#L168)

[2019-09-06 10:26] p-a-s-c-a-l opened #14 "Support for additional processing variables"
ATM just the processing variable `$emikat_id` for advanced/automated/calculated screening studies is supported in [csis_helpers.module](https://github.com/clarity-h2020/csis-helpers-module/blob/dev/csis_helpers.module). The respective query parameter is set by [csis_iframe_connector.js](https://github.com/clarity-h2020/csis-helpers-module/blob/dev/js/csis_iframe_connector.js) as part of the iFrame

[2019-09-06 10:43] patrickkaleta commented on #13
True, I was expecting the [Drupal logger](https://csis.myclimateservice.eu/admin/reports/dblog) to log such errors, but he doesn't. I will log the error messages directly in the script.

The image file itself is created, but it fails when creating the Report Image entity, so I'm guessing that's because there is no GL-step available on [that page](https://csis.myclimateservice.eu/study/25/view/data

[2019-09-06 14:22] therter commented on #13
Yes, this should be the problem now.
First, the request to create the Report Image Entity answered with a  ```413 Request Entity too large```, but since this is solved, the request answers with a ```404 The resource identified by 'node--gl_step:-1' (given as a relationship item) could not be found```

[2019-09-13 13:04] patrickkaleta commented on #9
Same bug also mentioned [here](https://github.com/clarity-h2020/csis-helpers-module/issues/13#issuecomment-528797936).

Problem is that the JSON:API and the Group module sometimes have troubles working together (issue described [here](https://www.drupal.org/node/2872645)). Most of the times this is not an issue for us, since we already have a GL-step relation to the Study group, which we can use t

[2019-09-23 11:51] patrickkaleta commented on #9
This is fixed now. I applied the proposed patch (workaround) from [here](https://www.drupal.org/project/group/issues/2872645#comment-13257188) and so far I haven't detected any unwanted side-effects.

[2019-09-23 13:10] p-a-s-c-a-l commented on #14
Once https://github.com/clarity-h2020/csis/issues/101 has been implemented, we need to include `study_variant, time_period, emission_scenario and event_frequency`in the `csisHelpers.studyInfo` JS Object.

[2019-09-23 13:51] p-a-s-c-a-l commented on #9
I tried the 'include in report'-button with the new [table component iframe](https://csis.myclimateservice.eu/study/1/step/83/view/table), but it didn't work:

`TypeError: A is undefined
html2canvas.min.js:6:146514`

[2019-09-23 13:59] therter commented on #9
The wrong element is used by html2canvas. I should be able to fix this

[2019-09-24 07:10] DenoBeno commented on #9
Excellent. :-)

[2019-09-25 08:37] p-a-s-c-a-l commented on #13
Status @therter ?
What's going on in this branch:  [bug/9_use_table_div](https://github.com/clarity-h2020/csis-helpers-module/tree/bug/9_use_table_div)?

Answer is [here](https://github.com/clarity-h2020/csis-helpers-module/issues/9#issuecomment-534938948)

[2019-09-25 09:35] therter commented on #9
Since the html2canvas cannot handle iframes, the first div element of the table component should be used to create the image. So the [csis helper module](https://github.com/clarity-h2020/csis-helpers-module/blob/dev/js/csis_include_in_report.js) must ensure that a valid element will be delivered to html2canvas.

If the created image does not look like expected, then it is possible that the page us

[2019-09-25 13:23] p-a-s-c-a-l commented on #9
The feature is still not working properly for the map component (neither chrome nor firefox):

![grafik](https://user-images.githubusercontent.com/1788226/65604870-757ae980-dfa8-11e9-9524-f00971f80a1d.png)

[2019-09-25 18:20] therter commented on #9
It is working now for the map and the table (at least in firefox and chrome)

![Bildschirmfoto vom 2019-09-25 19-26-08](https://user-images.githubusercontent.com/1788509/65628349-9277e280-dfd1-11e9-8a1e-7bf1d0c07830.png)

![Bildschirmfoto vom 2019-09-25 19-24-56](https://user-images.githubusercontent.com/1788509/65628356-960b6980-dfd1-11e9-9c0c-2924efa3eb09.png)

I think we can close this issue no

[2019-09-26 07:35] p-a-s-c-a-l commented on #13
Is there a possibility to increase the resolution of the snapshot? This [snapshot image](https://csis.myclimateservice.eu/sites/default/files/styles/max_650x650/public/report-images/2019-09/map-snapshot_70.png) is even smaller than the original map shown on the screen. For printing, this is not suitable.

Please note the URI of the image: /sites/default/files/**styles/max_650x650/**. So for some r

[2019-09-26 08:39] patrickkaleta commented on #13
No, this is not a Drupal or html2canvas restriction, that's just how drupal handles images. The original image taken by html2canvas is [this](https://csis.myclimateservice.eu/sites/default/files/report-images/2019-09/map-snapshot_70.png) one (your previous URI without the "/styles/max_650x650/public").

Drupal allows to define different [image styles](https://csis.myclimateservice.eu/admin/config/

[2019-09-26 08:43] therter commented on #13
On html2canvas side, it is possible to increase the resolution of the image with the scale option. But drupal does not accept such images, because they are too large.

In my local instance, I get the following error message:

`Symfony\Component\HttpKernel\Exception\UnprocessableEntityHttpException: Unprocessable Entity: file validation failed. The file is 2.39 MB exceeding the maximum file size of

[2019-09-26 08:53] patrickkaleta commented on #13
Oh interesting, I didn't know that. But where is this currently applied? I just took a screenshot of the Study Area for [Study 30](https://csis.myclimateservice.eu/study/30/view/area) and one screenshot of the [hazard map](https://csis.myclimateservice.eu/study/30/step/1403/view/maps). In both cases ([image 1](https://csis.myclimateservice.eu/sites/default/files/report-images/2019-09/map-snapshot_

[2019-09-26 09:00] therter commented on #13
Since the drupal system currently does not accept large images, this isn't applied, yet.

[2019-09-26 09:16] p-a-s-c-a-l commented on #13
Right after clicking the include in report button and on **preview**. So the 650x650 resolution is probably o.k,. for preview mode and we don't have to change it as long as the full resolution is available in the (PDF) report.

[2019-09-26 09:16] patrickkaleta commented on #13
Oh my mistake, I though you said that html2canvas is currently limiting the resolution to 650x650.

[2019-09-26 09:20] patrickkaleta commented on #13
Ah right. Denis just recently included the image in the [edit form](https://csis.myclimateservice.eu/admin/structure/types/manage/report_image/form-display) of the report image and set the formatter style to 650x650. However, that does not impact how the image is later shown in the PDF, so we don't need to fix that.

[2019-09-26 16:03] DenoBeno opened #17 "Calculation in progress/finished indication"
EMIKAT calculation took 6 minutes for the test study that I tried today. Possibly more for larger areas.

It would be nice to have some indication on the site saying "calculation failed/in progress/done".

[2019-09-27 05:16] p-a-s-c-a-l commented on #14
Not sure if this changed lately, but the study_presets contain wrong values: e.g. instead of "scenario:historial" EMIKAT expects "Baseline" as value for emissions_scenario:

![grafik](https://user-images.githubusercontent.com/1788226/65743685-f72c5d80-e0f5-11e9-9531-36d73f23a304.png)

[Here](https://github.com/clarity-h2020/data-package/issues/42#issuecomment-531742464) is documented what is expec

[2019-09-27 05:33] p-a-s-c-a-l commented on #14
O.K., I tried to revolve this in branch [feature/010-extend-entityinfo](https://github.com/clarity-h2020/csis-helpers-module/tree/feature/010-extend-entityinfo) by accessing `field_var_value`instead of `field_var_meaning`, but this didn't work:

```The website encountered an unexpected error. Please try again later.</br></br><em class="placeholder">InvalidArgumentException</em>: Field field_var_va

[2019-09-27 05:46] p-a-s-c-a-l commented on #14
Another thing we need in 'study_info' is 'field_eea_city_profile_name' from the [Cities/Regions Taxonomy](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/cities_regions/overview/fields). Maybe @patrickkaleta can add this, too?

[2019-09-27 07:44] DenoBeno commented on #14
Do you mean the "scenario:historical" and such?

If yes, this is a very simple thing to fix. Or at least to work around until we do something better. Let me explain:

We have *two* taxonomies governing the issue at hand: "DP variable meanings" and "DP variables"

![grafik](https://user-images.githubusercontent.com/2961790/65750971-de2da780-e109-11e9-848d-f2816866ca27.png)

DP variables is used in

[2019-09-27 07:55] DenoBeno commented on #14
OK, I have finished setting the "meaning ID" values. If there is any error left, you can fix it here: https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/dp_variable_meanings/overview

This said, the titles of the "dp variable meaning" taxonomy terms are meant to be used as labels on CSIS UI. So they should probably also be exposed by csis helpers.

[2019-09-27 08:03] patrickkaleta commented on #14
@p-a-s-c-a-l
As explained by Denis, there are two taxonomies at play here and you were trying to access the field of one taxonomy in the second taxonomy, where it's not present... and Drupal doesn't like things like that.

Denis already finished his workaround, so you should now get the wished results. I will revert the changes in [feature/010-extend-entityinfo](https://github.com/clarity-h2020/cs

[2019-09-27 08:25] p-a-s-c-a-l commented on #14
no it's o.k. Thanks.

regarding the variables / taxonomies / taxonomy mappings / meanings / .... : we shouldn't overcomplicate things. lets keep it simple and move on.

[2019-09-27 09:53] therter commented on #13
To allow the upload of bigger images, the file /usr/local/etc/php/conf.d/uploads.ini has to be created. The content of the file should be something like this:

[code]

[2019-10-02 10:13] patrickkaleta commented on #17
One possible way how to do it:
- add a new field `Calculation Status` to the Study group (0 => not active, 1 => running)
- the Emikat trigger in the csis helpers module will set this field to 1 if the calculation has been triggered
- add a new JS, which we would only include on all the Study-pages (not the GL-pages!), that would repeatedly pull the current status from Emikat via REST if this new f

[2019-10-02 10:36] DenoBeno commented on #17
Sounds OK to me.

On Wed, 2 Oct 2019 at 12:13, Patrick Kaleta <notifications@github.com>
wrote:

[2019-10-02 11:03] DenoBeno commented on #14
I wonder what is the status of this ticket now?

In principle we have all we need at the moment. So maybe it's done?
We also know that more will be needed later, see https://github.com/clarity-h2020/csis-helpers-module/issues/14#issuecomment-535830997. So is it on hold then?

[2019-10-02 12:21] p-a-s-c-a-l commented on #14
It's done. We open a new issue if we need more.

[2019-10-02 12:21] #14 closed, assigned to p-a-s-c-a-l, patrickkaleta

[2019-10-04 12:38] therter opened #15 "A wrong parameter name is used"
The parameter emission_scenario is used instead of emissions_scenario

[2019-10-04 12:45] #15 closed, assigned to therter

[2019-10-05 17:28] DenoBeno commented on #15
hm, I wonder which one is "correct".
Whatever, let's just keep it as is now.

On Fri, 4 Oct 2019, 14:45 therter, <notifications@github.com> wrote:

[2019-10-07 08:01] p-a-s-c-a-l commented on #15
`emissions_scenario` is correct. It should be used in CSSIS Helpers module, too. There it is called `emission_scenario`.

[2019-10-08 09:41] p-a-s-c-a-l commented on #9
MCDA App Report image messed up in Chrome: CSS is missing.

![grafik](https://user-images.githubusercontent.com/1788226/66385289-8839e900-e9c0-11e9-8cb0-d6dc11daf693.png)

@therter any idea what's going on here?

[2019-10-08 18:06] therter commented on #9
The stylesheets will be loaded in chrome, if the html2canvas option foreignObjectRendering is activated. But some images will not be drawn.
The option foreignObjectRendering should not be activated in firefox, because firefox does not support this feature.

[2019-10-09 05:03] p-a-s-c-a-l commented on #9
Some or all? Which ones? Why?

[2019-10-11 12:38] p-a-s-c-a-l commented on #13
@therter What's the status? How is this solved within our drupal docker container?

[2019-10-11 18:09] therter commented on #13
I have added the file upload.ini to the docker-compose.yml. The attempts with the  configuration in the folder /app/web/sites/default did not work

[2019-10-14 06:15] p-a-s-c-a-l commented on #13
Implemented. But there is still a [bug](https://github.com/clarity-h2020/csis-helpers-module/issues/9).

[2019-10-14 06:15] #13 closed, assigned to therter, patrickkaleta

[2019-10-14 15:57] DenoBeno commented on #9
I'm lost here... In my experience, taking screenshots works for the maps & tables & at least some of the widgets in scenario analysis (didn't test them all). It doesn't work for EEA app.

[2019-10-14 16:02] DenoBeno commented on #17
@humerh : as discussed earlier today, can we access some view that will return us the status & progress information?

E.g. something like this:

- **Status:** on hold (waiting for other processes to finish) | in progress | finished | error
- **Progress:** N/M - shows which step is currently processed. E.g. if there are 23 steps, then this could be 17/23
- ** message** optional - a message that we

[2019-10-15 06:22] p-a-s-c-a-l commented on #9
The screenshot functionality is still very unreliable. @therter which html2canvas version are we using? Did you upgrade to [v1.0.0-rc.5](https://github.com/niklasvh/html2canvas/releases/tag/v1.0.0-rc.5)?

[2019-10-15 07:16] therter commented on #9
At the moment, rc.1 is used, because the newer versions ignore the overlay layers of the maps.

[2019-10-21 07:48] patrickkaleta opened #16 "Hide edit buttons if user permissions are not sufficient"
Group members who are not owners, cannot edit the Study group itself, but only work with the group contents (the GL-steps, report images, ...).

So, in the Study step all edit buttons created with the Display Suite need to be hidden via the CSIS helpers module. For that, all Display suite buttons in question will get an extra class "token-field-check-permissions", for which the helpers module will

[2019-10-21 10:33] patrickkaleta commented on #16
Done! ([feature-016](https://github.com/clarity-h2020/csis-helpers-module/commit/0240a93a2a5d15d9d970853f168f3a5d1192c62e))

[2019-10-21 10:33] #16 closed, assigned to patrickkaleta

[2019-10-22 09:55] therter commented on #9
Current State:
At the moment, the html2canvas version v1.0.0-rc.1 is used. But there are some problems with this version:

- The css property transform does no work, if the value uses translate3d with negative values. But this property can be replaced by the top and left property.

- The opacity property does not work, if the value is 0.0. So this property should be replaced by visibility: hidden.

[2019-10-30 08:11] p-a-s-c-a-l commented on #9
@therter Please report on the status of the report generation for the following integrated apps:

- [x] [EE Urban Adaptation Viewer](https://github.com/clarity-h2020/csis/issues/60)
- [x] [Scenario Analysis App](https://github.com/clarity-h2020/scenario-analysis/issues/3#issuecomment-542056118)
- [x] [Simple Table Component](https://github.com/clarity-h2020/simple-table-component/)

We are still n

[2019-10-31 10:08] patrickkaleta commented on #17
### Status update

Most of this feature is already implemented in [this branch](https://github.com/clarity-h2020/csis-helpers-module/tree/feature/017-pull-emikat-status) (still need to update the calculation field of the study after calculation in Emikat has finished + properly phrase the messages for the users). Once it's all done, I will merge and deploy it to our CSIS server.

One problem I enc

[2019-11-03 09:26] patrickkaleta commented on #17
I've finished the implementation and deployed it onto the CSIS server. Users now can see messages like this, when they are in the Study-step and the calculation is ongoing (of course they are not going to see all 3 at once):
![status messages-new](https://user-images.githubusercontent.com/42167036/68082934-22a41580-fe23-11e9-91d7-9a6baa56fedf.png)

More details about this feature in the [readme](h

[2019-11-07 08:13] therter commented on #9
The report generation is working now for the tables, maps, Scenario Analysis App and the eea App.

[2019-11-08 09:05] patrickkaleta commented on #17
Ok, batch jobs are now always sorted in **ascending** order, however we need them in **descending** order.

@humerh can you please check again if the sorting parameter is handled correctly in Emikat or if the syntax I'm using is correct?

This is an example of a request I'm making:
https://service.emikat.at/EmiKatTst/api/scenarios/3233/feature/tab.AD_V_BATCH_IN_QUEUE.1710/table/data?rownum=20&filt

[2019-11-11 11:05] patrickkaleta commented on #17
Thanks to @humerh I now configured the `sortby` parameter correctly and batch jobs are now sorted the way we need them. Closing this issue now.

[2019-11-11 11:05] #17 closed, assigned to therter, humerh, patrickkaleta

[2019-11-22 12:19] patrickkaleta opened #18 "Creating automated tests for Integration with Emikat"
@DenoBeno suggested that we should have some kind of automated testing, that would on a regular basis check if the communication between CSIS and Emikat is working and if Emikat produces results.

I suppose one way of how we could achieve this is by creating a [custom service](https://www.drupal.org/docs/8/api/services-and-dependency-injection/services-and-dependency-injection-in-drupal-8) in our

[2019-11-27 11:37] patrickkaleta commented on #18
### Status report:
I decided to implemented a [Testing service](https://github.com/clarity-h2020/csis-helpers-module/blob/feature/018-automated-testing/src/Utils/TestingService.php), which is triggered in each Cron run. It either triggeres Emikat to start the calculations or it checks if results for the calculation are available.

- Once a day this service will trigger Emikat to recalculate [this

[2019-12-02 08:26] #18 closed, assigned to patrickkaleta

[2019-12-06 09:45] patrickkaleta commented on #12
Emikat is now triggered only when the selected study type contains [calculation methods](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/calculation_methods/overview) that are appropriate for Emikat. Such calculation methods are those that have the `emikat` keyword in the  **Calculation method ID** field.

### ToDo:
Since the study type can be changed by the user, we have to take

[2019-12-06 18:55] DenoBeno commented on #12
Forget it. Just warn the users if necessary, that's all.

I suppose that the Emikat results aren't going to be shown in the different
study type anyway.

Patrick Kaleta <notifications@github.com> schrieb am Fr., 6. Dez. 2019,
10:45:

[2020-01-15 12:56] p-a-s-c-a-l commented on #9
Include Report Button is not visible for non-admin users.

[2020-01-17 09:13] patrickkaleta commented on #9
I'm guessing you're talking about those buttons in the general "Study" Step (e.g. https://csis.myclimateservice.eu/study/55/view/area) for ordinary team members (**so not the owners**). For those users the "Include in report" was hidden due to the discussions in the [User/group Permissions issue](https://github.com/clarity-h2020/csis/issues/114).

But you're right. Even though members cannot edit

[2020-01-20 12:04] DenoBeno commented on #9
Good

Patrick Kaleta <notifications@github.com> schrieb am Fr., 17. Jan. 2020,
10:13:

[2020-01-23 09:47] p-a-s-c-a-l commented on #9
Getting

[code]
when trying to use the include in report feature on [this page](https://csis.myclimateservice.eu/study/55/step/1952/view/maps) to create a screenshot of the [Transport Application](https://github.com/clarity-h2020/csis/issues/134#issuecomment-577601007) embedded [as iFrame](https://github.com/clarity-h2020/csis/issues/122).

[2020-01-23 09:50] therter commented on #9
I will have a look on it

[2020-01-27 10:53] therter commented on #9
@ghilbrae  @luis-meteogrid  In order to allow the creation of screenshots, the X-Frame-Option SAMEORIGIN should be removed from the [Transport Application](https://github.com/clarity-h2020/csis/issues/134) (this was also mentioned [here](https://github.com/clarity-h2020/csis/issues/122#issuecomment-577859286)) and the Access-Control-Allow-Origin header should be set to allow  the site https://csis

[2020-01-27 10:56] ghilbrae commented on #9
ACK.

I'm adding my colleague @rapto to the discussion so he is also aware of this.

[2020-01-29 09:53] patrickkaleta opened #19 "Transport Module (TM) trigger specifications"
Subtask of [this issue](https://github.com/clarity-h2020/csis/issues/134).

In order for the TM to be able to generate study-relevant output, CSIS needs to trigger the TM and sent the necessary information for the relevant Studies.

We already have something similar for another external service (Emikat), where we use REST for the communication ([issue](https://github.com/clarity-h2020/emikat/issue

[2020-01-30 09:51] p-a-s-c-a-l opened #20 "Cannot read property 'step' of undefined"
[code]

[2020-01-30 09:54] p-a-s-c-a-l commented on #20
done

[2020-01-30 09:54] #20 closed, assigned to p-a-s-c-a-l

[2020-01-30 10:07] patrickkaleta commented on #19
@ghilbrae adding you to this issue to keep you in the loop about the status.

[2020-02-06 12:06] rapto commented on #19
Hello there, I'll try to answer.

That is correct, only TI.

The study can be triggered as soon as created. The only information that willbe kept in both systems will be the bare minimum: Title and short description.

Should the title or description change, it would be required to sync in the TM.

In this specific case, CSIS is not required to monitor the results in this moment.

We can add this f

[2020-02-06 12:21] ghilbrae commented on #9
The generation of the report/summary has been discussed here: https://github.com/clarity-h2020/csis/issues/134#issuecomment-577590718 and we think that the best option is for us to generate a PDF and send it to the CSIS when it is needed, i.e., when the user wants to generate a Summary.

I think this would make this point moot, isn't it?

[2020-02-06 13:58] therter commented on #9
Yes, that is right

[2020-02-10 09:01] patrickkaleta commented on #19
Ok great, so we will do the following:
### Setup of initial trigger:
- [x] trigger the TM immediately once a TI study is created
- [x] update the TM when one of the relevant fields is changed
- [x] use the Drupal Study IDs as identifier

### Relevant fields to be included in initial trigger:
- [x] Study title
- [x] Study description
- [x] SimulationType (needed by the TM app)

@rapto so how exactl

[2020-02-14 09:41] ghilbrae commented on #19
We can discuss this on Monday after the weekly meeting. I'll let @rapto know when to connect.

[2020-02-20 15:16] p-a-s-c-a-l commented on #9
resolved

[2020-02-20 15:27] p-a-s-c-a-l commented on #12
I would suggest to disable this feature and close this issue. Changing the study type shall no longer be allowed. For the implementation and testing phase it was helpful, but in the operational system it will just confuse users, e.g. if some steps or even results disappear after (accidentally?) changing the study type as observed [here](https://github.com/clarity-h2020/emikat/issues/33#issuecommen

[2020-02-21 16:14] patrickkaleta commented on #12
I agree. Setting the Study type should only be possible once during the initial creation of a new Study, since it has such a big (and unpredictable) impact on everything else. I'll remove the Study type field from all edit forms, so that it cannot be changed once it's set.

[2020-02-21 16:14] #12 closed, assigned to patrickkaleta

[2020-02-26 14:03] p-a-s-c-a-l commented on #9
Just another **SHOWSTOPPER** for [CSIS Public BETA Release](https://github.com/clarity-h2020/csis/issues/145): No include in report button for [Scenario Analysis](https://csis.myclimateservice.eu/study/33/step/1517/view/scenario-analysis):

![grafik](https://user-images.githubusercontent.com/1788226/75351855-16980400-58a9-11ea-8f38-0e199bb7790d.png)

AFAIR this used to work @therter ?

[2020-02-26 15:52] therter commented on #9
Yes, this was working and it is working again. I have added the button via "Manage display".

[2020-02-28 07:54] patrickkaleta commented on #9
I remember it working a couple of weeks/months ago. But if I recall correctly, it didn't use the "include in report" button on the bottom of the page (the one @therter just added back into the tab), but instead it had multiple "include" buttons directly inside the app (and that's why, when you go on the Summary and open the "Attached Scenario analysis" you'll see just individual graphs instead of

[2020-02-28 09:04] p-a-s-c-a-l commented on #9
Yes, that never worked reliably, therefore we had to disable it.
But perhaps we can add several include in report buttons for different parts the iFramed application?

for Scenario Analysis App we would just need atm the table and the bar charts. So if I add a unique id to the respective DIV elements, this *should*  be possible @therter ?

![grafik](https://user-images.githubusercontent.com/178822

[2020-02-28 09:07] therter commented on #9
Yes, this should then be possible. At least from the html2canvas side. But we need additional buttons and I don't know, how this buttons can be added.

[2020-02-28 09:19] patrickkaleta commented on #19
With the help of @rapto I was able to get the TM trigger up and running. I'm considering this issue done.

[2020-02-28 09:19] #19 closed, assigned to rapto, luis-meteogrid, ghilbrae, patrickkaleta

[2020-03-09 07:38] p-a-s-c-a-l commented on #9
The button is configured [here](https://csis.myclimateservice.eu/admin/structure/types/manage/gl_step/display/sce) in the respective GL Step, but I couldn't find the actual button entity, field, or whatever it is. @patrickkaleta Can you please tell us  where this include in report button is defined?

[2020-03-09 08:29] patrickkaleta commented on #9
The actual button is created as a "Token field" [here](https://csis.myclimateservice.eu/admin/structure/ds/fields/manage_token/include_in_report_button) via the Display suite module.

[2020-03-09 16:27] p-a-s-c-a-l commented on #9
Another problem with the button which currently causes the ui integration tests to fail:

    <anonym> https://csis.myclimateservice.eu/study/33/view/area line 2 > scriptElement:167
    <anonym> https://csis.myclimateservice.eu/study/33/view/area line 2 > scriptElement:167
    r https://csis.myclimateservice.eu/study/33/view/area line 2 > scriptElement:167
    <anonym> https://csis.myclimateservic

[2020-03-11 14:50] fgeyer16 commented on #9
I just checked and found, that the "include in report Button" fails to post the imaget o Drupal. The ajax request fails with an 422 "Unprocessable Entity" Error. @patrickkaleta any changes in the content type or js?

When I check on click events on thebutton in Chromes Developer tools It seens if thereis an empty handler. But maybe this is the result of this errors. Who is using babel The map comp

[2020-03-11 15:15] patrickkaleta commented on #9
No, no changes in entity or js. Drupal logs say that the error is caused, because the screenshot file already exists ([log message](https://csis.myclimateservice.eu/admin/reports/dblog/event/2463668)). These errors started occuring today at around 13:00.

[2020-03-11 15:43] patrickkaleta commented on #9
This was probably caused by the fact that some files on the server were removed after reverting to the state of yesterday (while the DB stayed the same). I created the missing files on the server by duplicating another report image (shouldn't really matter, since all those screenshots are still just from dummy studies).

Report images are now again being generated & stored properly.

[2020-03-11 15:47] therter commented on #9
This error is [solved](https://github.com/clarity-h2020/map-component/issues/88) now.

[2020-03-19 18:48] therter commented on #9
The [Scenario Analysis page](https://csis.myclimateservice.eu/study/33/step/1517/view/scenario-analysis) has now two buttons to include the table and the chart in the report.

[2020-03-25 13:14] p-a-s-c-a-l commented on #9
Layers from the group *CLARITY Backgrounds* selected [on this map](https://csis.myclimateservice.eu/study/131/step/3842/view/maps) do not appear in the [report image](https://csis.myclimateservice.eu/sites/default/files/report-images/2020-03/map-snapshot_120.png). This is probably caused by the fact that [TLS is still not available](https://github.com/clarity-h2020/csis/issues/120#issuecomment-603

[2020-03-25 18:34] therter opened #21 "Include in Report button: use jpeg instead of png images"
jpeg images should be used instead of png images to improve the performance. See clarity-h2020/csis#152

[2020-03-25 18:41] #21 closed, assigned to therter

[2020-03-30 08:39] therter commented on #9
No Access-Control-Allow-Origin' header is present in the response from the wms http://services.clarity-h2020.eu:8080/geoserver/clarity/ows. So I have reopend [this issue](https://github.com/clarity-h2020/data-package/issues/50)

[2020-04-02 10:56] p-a-s-c-a-l commented on #9
Again, not working on [this page](https://csis.myclimateservice.eu/study/25/step/3682/view/table) with FireFox 74.

![grafik](https://user-images.githubusercontent.com/1788226/78241793-460de200-74e1-11ea-8f06-55bd29e1c913.png)

[2020-04-02 21:58] DenoBeno commented on #9
Taking screenshots works for everything expect for the CLARITY land use layers at my side. (Test with latest chrome)

If i get this correctly, the wms serving CLARITY land use layers is misconfigured. Missing the Access-Control-Allow-Origin or not having TLS configured. Whatever it is, we already have another server that's working OK, so we just need the same configuration as on that one (server w

[2020-04-09 09:54] therter commented on #9
Thsi should be fixed now

[2020-04-09 10:09] p-a-s-c-a-l commented on #9
![grafik](https://user-images.githubusercontent.com/1788226/78884282-f8522600-7a5a-11ea-9fb9-3e5bcc4597f9.png)

[2020-04-21 10:33] p-a-s-c-a-l commented on #9
@therter what is the current status? Did you test it with Firefox, too? Windows or Linux?
- Firefox 75.0 (64-Bit) Windows 7: working
- Firefox 75.0 (64-Bit) Windows 10: not working

So probably a problem with the graphic card driver. Doesn't seem that we have any influence on that.
I close the issue for now. We'll wait for the results of the technical validation: https://github.com/clarity-h2020/c

[2020-05-18 12:47] p-a-s-c-a-l opened #22 "Support for extended iFrame query parameters"
As required by clarity-h2020/map-component#96, we have extended the filter capabilities beyond EU-GL Taxonomy terms. Now the map iFrame URL query parameters have to be extended, too!

[2020-05-18 14:52] p-a-s-c-a-l commented on #22
done

[2020-05-18 14:52] #22 closed, assigned to p-a-s-c-a-l

[2020-07-14 07:44] patrickkaleta opened #23 "Add boolean field for Adaptation Project into $StudyInfo"
Since we want to remove the `Study variant` fieldfrom the Study Scenario object, we need to add it separately to the `$studyInfo` object, so that the Map and Table components can query and filter data for the **baseline** and for the **adapted** scenario.
Boolean field `has_adapted_scenario` will be set based on whether or not the Study contains an "Adaptation Project" Group node.

In the process

[2020-07-14 08:06] patrickkaleta commented on #23
FYI: @p-a-s-c-a-l and @therter
This is now available on DEV for further testing. **study_variant** is now gone from the `study_scenarios` and `study_presets` and instead has its own boolean field called  `has_adapted_scenario` inside the `$studyInfo` object.

![adapted_scenario](https://user-images.githubusercontent.com/42167036/87400457-1fb81200-c5b9-11ea-8e6e-c5b3f4cb69ee.png)

[2020-07-23 13:44] p-a-s-c-a-l commented on #9
This is a never ending story. I tried to make a screenshot of [this](https://csis-dev.myclimateservice.eu/study/163/step/4896/view/maps) map, but it's again not working:

![](https://csis-dev.myclimateservice.eu/sites/default/files/report-images/2020-07/map-snapshot_87.jpg)

[2020-07-27 09:41] therter commented on #9
The position of the popup from the GetFeatureInfo request is correct now (on the dev instance), but I could not reproduce the errors on the left map.

[2020-07-27 13:20] p-a-s-c-a-l commented on #23
Implemented in https://github.com/clarity-h2020/map-component/issues/100

[2020-07-27 13:20] #23 closed, assigned to patrickkaleta

[2020-07-27 13:21] p-a-s-c-a-l commented on #9
O.K. Thanks.

[2020-07-27 13:21] #9 closed, assigned to p-a-s-c-a-l, therter, fgeyer16, patrickkaleta

[2020-07-30 14:44] p-a-s-c-a-l opened #24 "Documentation"
Write Documentation.

[2020-07-30 14:45] p-a-s-c-a-l commented on #24
done

[2020-07-30 14:45] #24 closed, assigned to p-a-s-c-a-l